body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px); /* Ändere die Blur-Stärke nach Bedarf */
}

h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: white;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-account {
  display: flex;
  justify-content: center;
}

button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
    margin: 0 10px;
  }
  
  button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
    color: wheat;
    z-index: 999;
  }
  
  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }





#onlinePanel {
  display: none;
  text-align: center;
}

#serverList, #joinWithCode, #createRoom {
  display: none;
  margin: 20px; /* Ändere den Abstand nach Bedarf */
}

#serverList {
  background-color: rgba(129, 129, 129, 0.8);
  border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    height: 91vh; /* Höhe auf 80% des Viewports setzen */
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 20px; /* Abstand vom unteren Rand setzen */
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Beispiel für Server-Einträge innerhalb der Liste */
.serverEntry {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.serverEntry h3 {
  margin: 0;
  font-size: 18px;
}

.serverEntry p {
  margin: 0;
  font-size: 14px;
}

#joinCodeInput {
  width: 20%; /* Breite des Inputs auf 80% festlegen */
  padding: 10px; /* Innenabstand hinzufügen */
  font-size: 20px; /* Schriftgröße anpassen */
  background-color: #ddd; /* Grauer Hintergrund */
  border: 1px solid #999; /* Randstil und Farbe */
  border-radius: 5px; /* Runde Ecken */
}

#joinWithCode {
    /* Stile für Join-Code-Bereich */
}

#createRoom {
    /* Stile für den "Create Room"-Bereich */
}
  